Repository python-discord/snekbox, pull requests merged in 2021-12, with the labels that each got.

#121 Add the --use_cgroupv2 flag when relevant
  snekbox/nsjail.py
Labels: type: bug, area: nsjail, priority: 0 - critical

#130 Excluded the snekbox/config_pb2.py from coverage
  .coveragerc
Labels: type: bug, area: tests, priority: 3 - low

#127 Add cgroupv2 support
  .github/workflows/lint-test-build-push.yaml
  Dockerfile
  Pipfile
  config/snekbox.cfg
  snekbox/config_pb2.py
  snekbox/nsjail.py
  snekbox/utils/__init__.py
  snekbox/utils/cgroup.py
  snekbox/utils/swap.py
  tests/api/__init__.py
  tests/gunicorn_utils.py
  tests/test_integration.py
  tests/test_nsjail.py
Labels: type: feature, area: CI, area: tests, area: nsjail, area: dev env, priority: 1 - high
